$nav-color: #5B605F; //panel boczny, nawigacja
$header-color: #5B605F; //nagłówek, , kolor tekstu w kolumnach
$buttons-color: #FF6600;  //przyciski, wyróżnienia, nagłówki ekranów
$background-color: #FFFFFA; //kolor tła ekranów
$info-color: #3498DB; //kolor wiadomości typu info,
$warning-color: #FFB03B;  //kolor wiadomości typu warning
$success-color: #468966;  //kolor wiadomości typu success
$bin-color: #BD4932;  //kolor ikony kosza
$text-color: #A1A194;  //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji