.author {
  background-color: #CFD3D6;

  .author__container {
    width: 100%;
  }
}

.author-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;

  .author__text {
    width: 700px;
    padding-right: 50px;
  }
}

.author__title {
  font-weight: 400;
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 25px;
}

.author__description {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  line-height: 25px;
}

.author__img {
  padding-right: 70px;
}

.author__img img {
  width: 220px;
  height: 300px;
}

