.author {
  background-color: #CFD3D6;
  display: flex;
  justify-content: center;

}
.author__container{
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.author__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 60px 0;

  .author__text {
    width: 60%;
  }
}

.author__title {
  font-weight: 400;
  font-size: 2rem;
  color: #222;
  padding-bottom: 25px;
}

.author__description {
  font-weight: 400;
  font-size: 1.2rem;
  color: #222;
  line-height: 25px;
}

.author__img {
  width: 35%;

  img{
    width: 100%;
  }
}

