.features_counainer{
  width: 1100px;
}

.features{
  display: flex;
  justify-content: space-between;
}

.features_single{}

.features

.features_title{
  color: var(--header-color);
}

.features_txt{}