.first__entry {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-color;
  border: 2px dashed $text-color;
  margin: 3rem;
  padding: 3rem;

  .first__entry-cnt {
    width: 35rem;

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      color: $nav-color;
      text-align: center;
      margin: 2rem;
    }

    h3 {
      font-size: 2rem;
      font-weight: 600;
      color: $nav-color;
      text-align: center;
      margin: 2rem;
    }

    .entry__form {
      .form__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .entry__form-input {
          height: 40px;
          width: 25rem;
          margin: 1rem;
        }

        button {
          background-color: $buttons-color;
          border: 1px solid $buttons-color;
          color: $background-color;
          font-weight: 600;
          font-size: 1.5rem;
          padding: 0.5rem 2rem;
          margin: 1rem;

          &:hover {
            background: $nav-color;
            border: 1px solid $nav-color;
            box-shadow: 0px 8px 9px 2px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    p {
      font-size: 1.5rem;
      color: $nav-color;
      text-align: center;
      margin: 2rem 2rem 15rem 2rem;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}